.modal {
  /* display: none; */
  /* top: 35%; */
  width: 300px;
  height: 300px;
  /* top: '35%';
  left: '50%';
  right: 'auto';
  bottom: 'auto';
  marginright: '-50%';
  width: '60%';
  transform: 'translate(-40%, -10%)'; */
}
